
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="{% static 'js/bower_components/chart.js/dist/Chart.js' %}"></script>
  <script src="{% static 'js/auth.js'%}"></script>
  <script>
      $(document).ready(function (){

      //set the CSRF token
      setupAjax("{{csrf_token}}");
      
      });
  </script>
</head>
<body>
  <div data-role="page" id="{{pagename}}-page" >
    <div data-role="header">
      <h1>LogIt</h1>
      <a href="#{{pagename}}-menu-panel" class="ui-btn ui-icon-grid ui-btn-icon-notext ui-btn-right"></a>
    </div>

    <div role="main" class="ui-content">
      {% block content %}
      {% endblock %}
    </div>
        
    <div data-role="footer" id="app-footer">
      <h2>Powered by Django and jQuery</h2>
      <h2>(c) Asser Lähdemäki 2017</h2>
    </div>

    <div data-role="panel" id="{{pagename}}-menu-panel" data-position="right"
	 data-display="reveal">

      {% if loggedIn %}
      <button onclick='sendLogout()'>Logout</button>
      {% else %}
      <a href="/login" data-prefetch="true" class="ui-btn">Login</a>
      {% endif %}      
      <a href="/register" data-prefetch="true" class="ui-btn">Register</a>
      <a href="/about" data-prefetch="true" class="ui-btn">About</a>
    </div>

  </div>
</body>
</html>
