{% extends 'ui/base-page.html' %}

{% block content %}

{% if loggedIn %}

<div id="login-display">
  <p>Logout first to login as another user.</p>
</div>

{% else %}

<script>
 $(document).ready(function (){
   
   $('#form-login').submit(function (event)
			   {
			     event.preventDefault();
			     postLoginForm($("#form-login"));
			   });
   
 });
</script>

<div id="login-display">
  <form id="form-login" action="" method="POST">
    <label for="username">Username:</label>
    <input type="text" placeholder="username" name="username"/>
    <label for="password">Password:</label>
    <input type="password" placeholder="password" name="password"/>
    <input type="submit" value="Login"/>
  </form>
</div>
{% endif %}

{% endblock %}
