{% extends 'ui/base-page.html' %}

{% block content %}

{% if loggedIn %}

<script>
 $(document).ready(function (e){
   populateCanvasIfDataAvailable($("#serie-{{serie_id}}-graph"), {{serie_id}});
   $("#serie-{{serie_id}}-addvalue").submit(function(event){

     event.preventDefault();
     postValueTo({{serie_id}}, $("#serie-{{serie_id}}-addvalue").serialize())
	  .then(function (data) {
	    console.log("Received response: ");
	    console.log(data);
	    populateCanvasIfDataAvailable($("#serie-{{serie_id}}-graph"), {{serie_id}});
	  }).fail(function (error){
	    console.log("adding value failed!");
	  });

   });
   $('#import-button').click(function (){
     importValuesFromCSVTo({{serie_id}},$("#import-source")[0]);
   });
 });
</script>
<h3>
  Serie
</h3>

<div>
  <canvas id="serie-{{serie_id}}-graph"></canvas>
</div>

<form id="serie-{{serie_id}}-addvalue">
  <label for="value">Value:</label>
  <input type="text" placeholder="value" name="value"/>
  <input type="submit" value="Add"/>
</form>

<ul id="datapoint-list-{{serie_id}}" data-role="listview" data-inset="True">
</ul>

<h2>Add values from CSV-file</h2>
<input type='file' id='import-source'/>
<button id='import-button'>Import</button>

{% else %}

<p> You're in a wrong place. </p>

{% endif %}

{% endblock %}
